@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.disabled-button {
  background-color: gray;
  cursor: not-allowed;
  /* You can add more styles as needed for the disabled state */
}
html, body {
  height: 100%;
  overflow-y: hidden;
}

/* Add this to your CSS stylesheet */
.icon-image {
  width: 24px; /* Change this to your desired fixed width in pixels */
  height: 24px; /* Change this to your desired fixed height in pixels */
}
@media (max-width: 730px) {
  .responsive-table {
    font-size: 14px; /* Decrease font size */
    padding: 4px; /* Adjust padding */
  }
}


@media (max-width: 768px) {
  .rounded-lg {
    border: none;
  }
}

.fixed-size-image {
  max-width: 24px; /* Set your desired fixed width */
  max-height: 24px; /* Set your desired fixed height */
  width: auto;
  height: auto;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Optional: show a thin scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Optional: style the scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
#noPostImage {
  filter: grayscale(100%) brightness(0%) invert(100%);
}
.follow-list-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Adjust z-index to make sure the modal appears above the background */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 999; /* Ensure the overlay is below the modal content */
}

.modal-content {
  background-color: #030712;
  border: 3px solid #083344;
  padding: 20px;
  position: relative;
  z-index: 1000;
  border-radius: 10px;
}

.close-modal-button {
  background-color: #083344;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
}